@model ProjectNet.Models.KHACHHANG

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KHACHHANG</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MAKH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MAKH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HOTEN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HOTEN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DIACHI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DIACHI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AVARTAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AVARTAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMAIL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PASS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PASS)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
